ion-content {
  background: linear-gradient(to bottom, rgb(40, 76, 207), rgb(79, 112, 231));
}

h2 {
  color: beige;
  text-align: center;
}

p {
  color: beige;
  text-align: center;
  font-family: 'Calibri', Calibri, monospace;
}

ion-item {
  background: transparent;

div.box {
  text-align: center;
}
}