ion-content {
  background: linear-gradient(to bottom, rgb(40, 76, 207), rgb(79, 112, 231));
  text-align: center;
}

h2 {
  color: beige;
  text-align: center;
}

p {
  color: beige;
  text-align: center;
  font-family: 'Calibri', Calibri, monospace;
}

body { 
  text-align: center;
}

hr {
  font-size: 10;
}
